html, body{
	height:100%;
}
.homePic{
	background-image: url("../images/frontPage.jpg");
}
.homePic > h1{
	margin: 0 auto;
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
	color: #f2f2f2;
}
.homePic > h2{
	margin: 0 auto;
	font-size: 30px;
	font-family: 'Aleo', serif;
	color: #f2f2f2;
}
.sect{
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.subPic{
	background-image: url("../images/bokeh.jpg");
}
.subPic .col-md-7 > h1{
	color:white;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
}
.subPic .col-md-7 > h2{
	color: #f2f2f2;
	font-size: 25px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(0,0,0,.7);
	font-family: 'Raleway', sans-serif;
}
.contactPic{
	background-image: url("../images/dark.jpg");
}
.contactPic .col-md-12 > h1{
	margin: 0 auto;
	font-size: 50px;
	color: white;
	font-family: 'Muli', sans-serif;
}
.contactPic .container{
	top:30%;
}
.contactPic .col-md-4 > ul{
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
}
.gallery .container > h1{
	text-align: center;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	background: #ff8533;
	background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.galleryDivider{
	margin: 10px;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.arrow {
  position: relative;
  text-align:center;
	top: 55%;
	font-size: 50px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@media screen and (max-width: 1000px){
	.homePic{
		background-image: url("../images/curls.png");
	}
	.subPic{
		background-image: url("../images/curls.png");
	}
	.sect{
		background-size: auto;
		background-repeat: repeat;
		background-attachment: scroll;
	}
	.subPic .col-md-7 > h2{
		border: 0px;
		border-radius: 0;
		background-color: rgba(0,0,0,0);
	}
}
