html, body{
	height:100%;
}
.homePic{
	background-image: url("../images/frontPage.jpg");
}
.homePic > h1{
	margin: 0 auto;
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
	color: #f2f2f2;
}
.homePic > h2{
	margin: 0 auto;
	font-size: 30px;
	font-family: 'Aleo', serif;
	color: #f2f2f2;
}
.sect{
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.subPic{
	background-image: url("../images/bokeh.jpg");
}
.subPic .col-md-7 > h1{
	color:white;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
}
.subPic .col-md-7 > h2{
	color: #f2f2f2;
	font-size: 25px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(0,0,0,.7);
	font-family: 'Raleway', sans-serif;
}
.contactPic{
	background-image: url("../images/dark.jpg");
}
.contactPic .col-md-12 > h1{
	margin: 0 auto;
	font-size: 50px;
	color: white;
	font-family: 'Muli', sans-serif;
}
.contactPic .container{
	top:30%;
}
.contactPic .col-md-4 > ul{
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
}
.gallery .container > h1{
	text-align: center;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	background: #ff8533;
	background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.galleryDivider{
	margin: 10px;
}
@media screen and (max-width: 1000px){
	.homePic{
		background-image: url("../images/taiwan.jpg");
	}
}
